<div class="container">
    <h1 class="text-center mt-5">Hello {{username ? username : "Friend"}}</h1>
    <div class="row align-items-center justify-content-center">
        <div class="col-md-4">
            <ng-container *ngIf="auth.isAuthenticated$ | async; then loggedIn; else loggedOut">
            </ng-container>
    
            <ng-template #loggedOut>
                <button type="button" class="btn btn-primary w-100" (click)="login()">Sign in</button>
            </ng-template>
            <ng-template #loggedIn>
                <button type="button" class="btn btn-primary w-100" (click)="signout()">Sign out</button>
            </ng-template>
        </div>
    </div>
</div>